<nav class="header">
    <div class="headerformat">
        <div class="middle">
          <div class="collapse navbar-collapse" id="menuoptions">
            <ul class="nav navbar-nav">
            <div class="imagepositioning">
                <li>
                    <img src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=400" alt=" Kainos logo" width="100" height="30">
                  </li>
            </div>
             
            <div class="homepositioning" style="font-size:130%; color: #252d4f">
                <li class="active"><a href="http://localhost:3000/homepage" style="color: #252d4f">Home</a></li>
            </div>
     
            <div class="twopositioning" style="font-size:130%;">
                <li><a href="http://localhost:3000/jobRoles" style="color: #252d4f">Jobs</a></li>
            </div>

            <div class="threepositioning" style="font-size:100%">
              <li><a href="http://localhost:3000/loginForm" style="color: #252d4f;"><button id="button" style = "border: none; background-color: Transparent" ><i class="fas fa-right-to-bracket fa-2x" id="navbarLogin"></i></button></a></li>
            </div>

            </ul>
          </div>
        </div>
     
    </div>
  </nav>
