<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title>Job Roles</title>
        <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.cdnfonts.com/css/galano-grotesque-alt" rel="stylesheet">
    </head>

    <body>
        {% include "header.html" %}
            <section class="job-roles"> 
                <h2>Available Job Roles</h2> 
                
                <ul> 
                    {% for jobRole in roles %}
                    <li> 
                        <h3>{{ jobRole.roleName }}</h3> 
                        <p>Location: {{ jobRole.location }}</p> 
                        <p>Capability: {{ jobRole.capability }}</p> 
                        <p>Band: {{ jobRole.band }}</p> 
                        <p>Closing Date: {{ jobRole.closingDate | date }}</p> 
                        <p>Status: {{ jobRole.status }}</p> 
                    </li> 
                    {% endfor %} 
                </ul>
              
            </section> 
            {% include "footer.html" %}
    </body>
</html>