<!DOCTYPE html>
<html lang = "en">
 
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/jobRolesListStyle.css">
        <title>Job Roles</title>
        <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.cdnfonts.com/css/galano-grotesque-alt" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2ea65b5d39.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
    </head>
 
    <body>
        {% include "header.html" %}
        <section class="job-roles">

            {% if jobRole %}
            <h2 id="jobRoleName" style = "text-align: center;">{{ jobRole.roleName }}</h2>
            <ul>
                <li>
                   <h3 id="mapMarker" style="font-family:''Galano Grotesque', sans-serif';"><i class="fa fa-map-marker " aria-hidden="true"></i> {{ jobRole.location }}</h3>

                    <h4 id="description">Description</h4>
                    <p id="description">{{ jobRole.description }}</p>

                    <h4 id="responsibilities"> Responsibilities</h4>
                    <p id="responsibilities">{{ jobRole.responsibilities }}</p>

                
                    <p id="capability"><b>Capability: </b>{{ jobRole.capabilityName }}</p>
                    <p id="ban"><b>Band: </b>{{ jobRole.bandName }}</p>
                    <p id="closingDate"> <b>Closing Date:</b> {{ jobRole.closingDate | date }}</p>
                    <p id="jobSpec"><a title="Sharepoint link to Job Role Spec" href="{{ jobRole.jobSpec }}" target="_blank">Click here to see job specification</a></p>
                    
                </li>
            </ul>
            {% else %}
            Job Role does not exist 
            {% endif %}
          
        </section>
        {% include "footer.html" %}

    </body>
</html>
 