.add-button {
    display: flex;
    margin: 2rem 0; 
    margin-left: 40px;

    }

    .add-button a {
    padding: 12px 24px; 
    background-color: #252d4f; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 6px; 
    }

    .add-button a:hover {
     background-color: #074689; 
     color: #fff;
    }
