.add-button {
    display: flex;
    margin: 2rem 0; 
    margin-left: 40px;

    }

    .add-button a {
    padding: 12px 24px; /* add padding around the text */
    background-color: #252d4f; /* set background color */
    color: #fff; /* set text color */
    text-decoration: none; /* remove underline for the link */
    border-radius: 6px; /* add rounded corners for the button */
    }

    .add-button a:hover {
     background-color: #074689; /* change background color on hover */
     color: #fff;
    }
