.job-roles { 
    margin: 2rem 0; 
    margin-right: 50px;
    } 
    
    .job-roles h2 { 
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 40px; 
    margin-bottom: 1rem; 
    } 
    
    .job-roles ul { 
    list-style: none; 
    
    } 
    
    .job-roles li { 
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-family: 'Galano Grotesque', sans-serif;
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    } 
    
    .job-roles h3 { 
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 22px; 
    margin-bottom: 10px; 
    } 
    
    .job-roles p { 
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-family: 'Galano Grotesque', sans-serif;
    font-size: 14px; 
    margin-bottom: 10px; 
    } 
    
